<div id="footer-anchor" class="landing-page-footer">
  <div class="content">
    <!-- Footer list -->
    <ul class="footer-links">
      <li class="link-item">
        <a target="_blank" href="mailto:amidzicigor@yahoo.com" class="footer-link">Contact</a>
      </li><!--
      --><li class="link-item">
        <a href="" class="footer-link">More Information</a>
      </li><!--
      --><li class="link-item">
        <a target="_blank" href="https://github.com/igoramidzic/utilitan" class="footer-link">Github</a>
      </li>
    </ul>
    <!-- Copyright -->
    <p class="copyright">© 2017 Utilitan</p>
	</div>
</div>
