<div class="forgot-password-page">
	<div class="forgot-password-container container extra-small-max-width">
		<h2 class="fp-header">{{ title }}</h2>
		<form *ngIf="!successfulReset" [formGroup]="resetPasswordForm" (click)="onResetPassword()" class="fp-form">
			<input 
				type="text" 
				[ngClass]="{ 'text-input-error': emailControl.hasError('emailError') }"
				class="text-input"
				placeholder="Email"
				formControlName="email">
			<md-hint *ngIf="emailControl.hasError('emailError')">
				{{ emailControl.errors.emailError }}
			</md-hint>
			<button 
				class="action-btn" 
				[ngClass]="{ 'action-btn-available': !resetPasswordForm.pristine && resetPasswordForm.valid }"
				[disabled]="resetPasswordForm.pristine ||	resetPasswordForm.invalid" 
				md-button>{{ submitBtnText }}</button>
		</form>
		<div *ngIf="successfulReset" class="fp-success-container">
			<p class="message">
				We just sent a message to the email you provided with a link to reset your password. Please check your inbox and follow the instructions in the email.
			</p>
			<div class="btn-holder">
				<button 
					md-button
					(click)="onOpenLoginModal()"
					class="action-btn action-btn-available"
					>Login</button>
			</div>
		</div>
	</div>
</div>
