<div class="setting-group-container row">
	<form [formGroup]="updateDisplayNameForm" (ngSubmit)="onUpdateUsersDisplayName()">
		<div class="form-controls-container">
			<div class="col-xs-12">
				<h3 class="form-group-header">Update name</h3>
				<hr class="setting-group-separator">
			</div>
			<div class="col-xs-12 controller-holder">
				<label class="text-input-label">Name</label>
				<input class="text-input" type="text" formControlName="displayName">
			</div>
		</div>
		<div class="col-xs-12 submit-btn-holder">
			<span class="success-notif" *ngIf="successfulUpdate">Updated</span>
			<span class="danger-notif" *ngIf="updateDisplayNameError">Try again</span>
			<button 
				class="action-btn" 
				[ngClass]="{ 'action-btn-available': !updateDisplayNameForm.pristine && updateDisplayNameForm.valid }"
				[disabled]="updateDisplayNameForm.pristine ||	updateDisplayNameForm.invalid" 
				md-button>{{ submitBtnText }}</button>
		</div>
	</form>
</div>