@import '../../../../app.component.sass'
@import '../dashboard.component.sass'

.table-header
	padding: 0 8px 12px 8px
	.header-btn
		border: none
		background-color: transparent
		padding: 0
		outline: none

.table-data
	.transactions-list
		list-style-type: none
		margin: 0
		padding: 0
		.transaction-item
			padding: 8px
			background-color: $list_item_background
			cursor: pointer
			margin-bottom: 5px
			&:last-child
				margin: 0
			&:hover
				background-color: $list_item_background_hover
  .income
    box-shadow: -2px 0px 0px 0px $success_color
  .expense
    box-shadow: -2px 0px 0px 0px $danger_color

.table-row
	margin: 0
	.row-item
		padding: 0 5px

.no-transactions-container
	text-align: center
	color: #727272
