<div class="card accounts-container">
	<div class="card-header">
		<h5 class="title">TRANSACTIONS</h5>
	</div>
	<div class="card-content">
		<div class="table-header">
			<div class="row">
				<div class="col-sm-2 col-xs-3">Date</div>
				<div class="col-sm-3 col-xs-5">Description</div>
				<div class="col-sm-3 hidden-xs">Category</div>
				<div class="col-sm-2 hidden-xs">Account</div>
				<div class="col-sm-2 col-xs-4">Amount</div>
			</div>
		</div>
		<div class="table-data">
			<ul class="transactions-list">
				<li class="transaction-item" *ngFor="let transaction of exTransactions">
					<div class="row">
						<div class="col-sm-2 col-xs-3">{{ transaction.timestamp | date:'MMM d' | truncate : 6 : '..' }}</div>
						<div class="col-sm-3 col-xs-5">{{ transaction.description | truncate : 11 : '..' }}</div>
						<div class="col-sm-3 hidden-xs">{{ transaction.category }}</div>
						<div class="col-sm-2 hidden-xs">{{ transaction.account }}</div>
						<div class="col-sm-2 col-xs-4">{{ transaction.amount | currency : 'USD' : true }}</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

