<div class="setting-group-container row">
	<form [formGroup]="updatePasswordForm" (ngSubmit)="onUpdateUsersPassword()">
		<div class="form-controls-container">
			<div class="col-xs-12">
				<h3 class="form-group-header">Change password</h3>
				<hr class="setting-group-separator">
			</div>
			<div class="col-sm-6 controller-holder">
				<label class="text-input-label">
					New password
					<md-hint>{{ updatePassword1FormError }}</md-hint>
				</label>
				<input 
					class="text-input" 
					[ngClass]="{ 'text-input-error': updatePassword1FormError}"
					type="password" 
					formControlName="password">
			</div>
			<div class="col-sm-6 controller-holder">
				<label class="text-input-label">
					Repeat password
					<md-hint>{{ updatePassword2FormError }}</md-hint>
				</label>
				<input 
					class="text-input" 
					[ngClass]="{ 'text-input-error': updatePassword2FormError}"
					type="password" 
					formControlName="confirmPassword">
			</div>
		</div>
		<div class="col-xs-12 submit-btn-holder">
			<span class="success-notif" *ngIf="updatePasswordSubmitted">Saved</span>
			<button 
				class="action-btn" 
				[ngClass]="{ 'action-btn-available': !updatePasswordForm.get('password').pristine && !updatePasswordForm.get('confirmPassword').pristine && !updatePassword1FormError && !updatePassword2FormError }"
				[disabled]="updatePasswordForm.get('password').pristine || updatePasswordForm.get('confirmPassword').pristine || updatePassword1FormError || updatePassword2FormError" 
				md-button>Change password</button>
		</div>
	</form>
</div>