<div class="setting-group-container row">
	<form [formGroup]="updatePasswordForm" (ngSubmit)="onChangePassword()">
		<div class="form-controls-container">
			<div class="col-xs-12">
				<h3 class="form-group-header">Change password</h3>
				<hr class="setting-group-separator">
			</div>
			<div class="col-sm-6 controller-holder">
				<label class="text-input-label">
					New password
					<md-hint *ngIf="passwordControl.touched && passwordControl.hasError('minlength')"
					>is too short.</md-hint>
				</label>
				<input 
					class="text-input" 
					[ngClass]="{ 'text-input-error': passwordControl.touched && passwordControl.hasError('minlength')}"
					type="password" 
					formControlName="password">
			</div>
			<div class="col-sm-6 controller-holder">
				<label class="text-input-label">
					Repeat password
					<md-hint 
						*ngIf="!passwordConfirmControl.pristine && updatePasswordForm.hasError('mismatch')"
						>does not match.</md-hint>
				</label>
				<input 
					class="text-input" 
					[ngClass]="{ 'text-input-error': !passwordConfirmControl.pristine && passwordConfirmControl.touched && updatePasswordForm.hasError('mismatch')}"
					type="password" 
					formControlName="passwordConfirm">
			</div>
			<div *ngIf="currentPasswordControl" class="col-xs-12 controller-holder form-control-separator-desktop">
				<label class="text-input-label">
					Confirm current password
					<md-hint *ngIf="currentPasswordControl.hasError('incorrect')">is incorrect.</md-hint>
				</label>
				<input 
					class="text-input"
					[ngClass]="{ 'text-input-error': currentPasswordControl.hasError('incorrect') }"
					type="password" 
					formControlName="currentPassword">
			</div>
		</div>
		<div class="col-xs-12 submit-btn-holder">
			<md-hint class="success-notif" *ngIf="successfulUpdate">Updated</md-hint>
			<md-hint class="danger-notif" *ngIf="updatePasswordForm.hasError('reauthError')">
				{{ updatePasswordForm.errors.reauthError }}
			</md-hint>
			<button 
				class="action-btn" 
				[ngClass]="{ 'action-btn-available': updatePasswordForm.valid }"
				[disabled]="updatePasswordForm.invalid" 
				md-button>{{ submitBtnText }}</button>
		</div>
	</form>
</div>