@import '../../../../app.component.sass'
@import '../dashboard.component.sass'

.card-content
	margin-top: 24px

.accounts-list
	list-style-type: none
	padding: 0
	margin: 0
	.account-item
		margin-bottom: 24px
		background-color: #f7f7f7
		cursor: pointer
		padding: 15px 12px
		font-weight: 300
		font-size: 16px
		&:last-child
			margin: 0
		&:hover
			background-color: #e8e8e8
		