<div class="sidebar-content">
	<md-list *ngIf="!user" class="hidden-desktop sidebar-list">
		<h3 class="sidebar-section-header" md-subheader>Utilitan</h3>
		<md-list-item (click)="onOpenSignupModal()">Signup</md-list-item>
		<md-list-item (click)="onOpenLoginModal()">Login</md-list-item>
		<hr>
	</md-list>
	<ng-template [ngIf]="user">
		<md-list *ngIf="user" class="sidebar-list">
			<h3 class="sidebar-section-header" md-subheader>
				{{ (user.displayName | truncate : 25) || (user.email | truncate : 25) }}</h3>
			<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['dashboard']">Dashboard</md-list-item>
			<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['settings', 'profile']">Settings</md-list-item>
			<md-list-item (click)="onLogout()">Logout</md-list-item>
			<hr>
		</md-list>
	</ng-template>
	<md-list class="sidebar-list">
		<h3 class="sidebar-section-header" md-subheader>Need help?</h3>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">Tutorials</md-list-item>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">About</md-list-item>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">Contact</md-list-item>
		<hr>
	</md-list>
</div>