<div class="sidebar-content">
	<md-list *ngIf="!afAuth.auth.currentUser" class="hidden-desktop sidebar-list">
		<h3 class="sidebar-section-header" md-subheader>Calendar</h3>
		<md-list-item (click)="onOpenSignupModal()">Signup</md-list-item>
		<md-list-item (click)="onOpenLoginModal()">Login</md-list-item>
		<hr>
	</md-list>
	<ng-template [ngIf]="afAuth.auth.currentUser">
		<md-list *ngIf="afAuth.auth.currentUser" class="sidebar-list">
			<h3 class="sidebar-section-header" md-subheader>
				{{ (afAuth.auth.currentUser.displayName | truncate : 25) || (afAuth.auth.currentUser.email | truncate : 25) }}</h3>
			<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['account']">Account</md-list-item>
			<md-list-item (click)="onLogout()">Logout</md-list-item>
			<hr>
		</md-list>
	</ng-template>
	<md-list class="sidebar-list">
		<h3 class="sidebar-section-header" md-subheader>Need help?</h3>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">Tutorials</md-list-item>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">About</md-list-item>
		<md-list-item (click)="onToggleSidebar.emit()" [routerLink]="['']">Contact</md-list-item>
		<hr>
	</md-list>
</div>