<div class="new-transaction-container">

	<div class="transaction-type-container">
		<ul class="type-list">
			<li *ngFor="let type of types"
				class="type-item"
				[ngClass]="{ 'expense': activeType === 'expense' && activeType === type,
										 'income': activeType === 'income' && activeType === type,
										 'transfer': activeType === 'transfer' && activeType === type }"
				(click)="activeType = type;">{{ type | uppercase }}</li>
		</ul>
	</div>

	<div class="transaction-form-container">
    <form [formGroup]="newTransactionForm">
      <div class="holder">

        <div class="form-component-holder timestamp-container">
          <md-datepicker touchUi="true" #picker></md-datepicker>
          <span (click)="picker.open()" class="click-holder">
            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
            <input class="calendar-input" [mdDatepicker]="picker" formControlName="timestamp">
            <span class="display-date">
              {{ newTransactionForm.controls['timestamp'].value | date: 'MMM d, yyyy' }}
            </span>
          </span>
        </div>

        <div class="form-component-holder amount-container">
          <input
            currencyMask
            [options]="{ prefix: activeType == 'expense' ? '-$ ' : activeType == 'income' ? '+$ ' : '$ ', allowNegative: false }"
            class="amount-input"
            [placeholder]="activeType == 'expense' ? '-$ 0.00' : '$ 0.00'" type="text" formControlName="amount">
        </div>

      </div>

      <div class="holder" *ngIf="activeType != 'transfer'">

        <div class="form-component-holder options-container" *ngIf="newTransactionForm">
          <button class="account-btn" [mdMenuTriggerFor]="menu">
            {{ (newTransactionForm.controls['account'].value?.id || 'Choose account') | capitalize }}
          </button>
          <md-menu #menu="mdMenu">
            <button
              md-menu-item
              *ngFor="let account of accounts"
              (click)="newTransactionForm.controls['account'].patchValue(account)"
            >{{ account.id }}</button>
          </md-menu>
        </div>

        <div class="form-component-holder options-container">
          <button class="account-btn" [mdMenuTriggerFor]="menu">
            {{ (newTransactionForm.controls['category'].value || 'Choose category') | capitalize }}
          </button>
          <md-menu #menu="mdMenu">
            <button
              md-menu-item
              *ngFor="let category of categories"
              (click)="newTransactionForm.controls['category'].patchValue(category.category)"
            >{{ category.category }}</button>
          </md-menu>
        </div>

      </div>

      <div class="holder" *ngIf="activeType == 'transfer'">

        <div class="form-component-holder options-container">
          <button class="account-btn" [mdMenuTriggerFor]="toAccountMenu">
            {{
              fromAccount
              ? 'From ' + (fromAccount.id | capitalize)
              :  'From account'
            }}
          </button>
          <md-menu #toAccountMenu="mdMenu">
            <button
              md-menu-item
              *ngFor="let account of accounts"
              (click)="fromAccount = account; newTransactionForm.controls['category'].patchValue('transfer')"
            >{{ account.id }}</button>
          </md-menu>
        </div>

        <div class="form-component-holder options-container">
          <button class="account-btn" [mdMenuTriggerFor]="menu">
            {{
              newTransactionForm.controls['account'].value
              ? 'To ' + (newTransactionForm.controls['account'].value.id | capitalize)
              : 'To account'
            }}
          </button>
          <md-menu #menu="mdMenu">
            <button
              md-menu-item
              *ngFor="let account of accounts"
              (click)="newTransactionForm.controls['account'].patchValue(account)"
            >{{ account.id }}</button>
          </md-menu>
        </div>

      </div>

      <div class="holder">
        <input class="text-input" type="text" placeholder="Description" formControlName="description">
        <button md-button [disabled]="newTransactionForm.invalid" (click)="onCreateNewTransaction()">Create</button>
      </div>

    </form>
	</div>

</div>
