<div class="setting-group-container row">
	<div class="form-controls-container">
		<div class="col-xs-12">
			<h3 class="form-group-header form-group-header-danger">Delete account</h3>
			<hr class="setting-group-separator">
		</div>
		<div class="col-xs-12 controller-holder">
			<p class="deletion-disclaimer">Once you delete your account, there is no going back. Please be certain.</p>
			<button class="danger-btn" (click)="onOpenDeleteAccountModal()" md-button>Delete account</button>
		</div>
	</div>
</div>