<div class="setting-group-container row">
	<form [formGroup]="updateEmailForm" (ngSubmit)="onUpdateUsersEmail()">
		<div class="form-controls-container">
			<div class="col-xs-12">
				<h3 class="form-group-header">Update email</h3>
				<hr class="setting-group-separator">
			</div>
			<div class="col-xs-12 controller-holder">
				<label class="text-input-label">
					Email
					<md-hint *ngIf="updateEmailForm.hasError('emailError')">
						{{ updateEmailForm.errors.emailError }}
					</md-hint>
					<md-hint *ngIf="newEmailControl.hasError('required')">
						cannot be empty.
					</md-hint>
				</label>
				<input 
					class="text-input"
					[ngClass]="{ 'text-input-error': updateEmailForm.hasError('emailError') || newEmailControl.hasError('required')}"
					type="email" 
					formControlName="newEmail">
			</div>
			<div *ngIf="currentPasswordControl" class="col-xs-12 controller-holder form-control-separator-desktop">
				<label class="text-input-label">
					Confirm current password
					<md-hint *ngIf="currentPasswordControl.hasError('incorrect')">is incorrect.</md-hint>
				</label>
				<input 
					class="text-input"
					[ngClass]="{ 'text-input-error': currentPasswordControl.hasError('incorrect') }"
					type="password" 
					formControlName="currentPassword">
			</div>
		</div>
		<div class="col-xs-12 submit-btn-holder">
			<md-hint class="success-notif" *ngIf="successfulUpdate">Updated</md-hint>
			<md-hint class="danger-notif" *ngIf="updateEmailForm.hasError('reauthError')">
				{{ updateEmailForm.errors.reauthError }}
			</md-hint>
			<button 
				class="action-btn" 
				[ngClass]="{ 'action-btn-available': updateEmailForm.valid && !updateEmailForm.pristine }"
				[disabled]="updateEmailForm.pristine || updateEmailForm.invalid" 
				md-button>{{ submitBtnText }}</button>
		</div>
	</form>
</div>