<div class="attention-grabber" style="background-image: url('assets/img/attention-grabber-background.jpg')">
  <div class="content">
    <!-- Header -->
    <h1 class="header">Do you get lost in your finances?</h1>
    <p class="sub-header-1">Keep track of every transaction you make.</p>
    <!-- Start a new project btn -->
    <button class="primary-btn" (click)="onOpenSignupModal()" md-button>Start tracking now</button>
  </div>
  <div class="scroll-down-holder">
    <!-- Scroll down to find out more -->
    <a class="scroll-down-link" style="cursor: pointer;">
      Scroll down to find out more
      <i class="fa fa-level-down"></i>
    </a>
  </div>
</div>
